# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db